@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&family=Press+Start+2P&family=Roboto&display=swap');
:root{
     --Dark-cyan: hsl(185, 75%, 39%);
--Very-dark-desaturated-blue: hsl(229, 23%, 23%);
--Dark-grayish-blue: hsl(227, 10%, 46%);
--Dark-gray: hsl(0, 0%, 59%);
}
*{
     padding: 0;
     margin: 0;
     box-sizing: border-box;
}

body
{
     background-image: url(images/bg-pattern-top.svg),
     url(images/bg-pattern-bottom.svg);
     background-position: -55% 65%, 142% -54%;
    
   background-repeat: no-repeat, no-repeat;
   background-color: var(--Dark-cyan);
    
     
    
}


.attribution 
    { font-size: 11px;
         text-align: center;
       
    }
         .attribution a 
         {
              color: hsl(228, 45%, 44%);
         } 
     
